<div class="navi-area">
	<div class="navi-box cf">
		<ul id="menu">
			<li class="navi-li"><%= link_to "HOME", new_discharge_business_registrations_index_path %></li>
			<li class="navi-li"><a href="">契約</a>
				<ul class="child">
					<li><a href="#">個別</a></li>
					<li><a href="#">基本</a></li>
				</ul>
			</li>
			<li class="navi-li"><a href="">マニフェスト</a></li>
			<li class="navi-li"><a href="">請求</a></li>
			<li class="navi-li"><a href="">マスタ</a>
				<ul class="child">
					<li><a href="#">マスタ一覧</a></li>
					<li><a href="#">会社関連</a></li>
					<li><a href="#">人物関連</a></li>
					<li><a href="#">許可関連</a></li>
				</ul>
			</li>
			<li class="navi-li"><a href="">ユーザー</a>
				<ul class="child">
					<li><a href="#">ロール選択</a></li>
					<li><a href="#">ユーザー編集</a></li>
					<li><a href="#"><%= link_to t('devise.sessions.destroy.ログアウト'), destroy_user_session_path, method: :delete %></a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
