<div class="modal-content con02">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table>
			<tr>
				<th colspan="8" class="table-title">検索</th>
			</tr>
			<tr>
				<th>会社電話</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
				<th>人物電話</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
				<th>連絡電話</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
			<tr>
				<th>会社名FAX</th>
				<td colspan="2"><input type="text" name="" class="inp-text sum-text"></td>
				<th>人物FAX</th>
				<td colspan="2"><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
			<tr>
				<th>会社メールアドレス</th>
				<td colspan="2"><input type="text" name="" class="inp-text sum-text"></td>
				<th>人物メールアドレス</th>
				<td colspan="2"><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
		</table>

		<input type="submit" value="検索">

			<table class="issue-table">
				<tbody><tr>
					<th colspan="8" class="table-title">検索結果</th>
				</tr>
				<tr>
					<th></th>
					<th>会社名</th>
					<th>人物名</th>
					<th>都道府県</th>
					<th>市区町村</th>
					<th>番地</th>
					<th>ビル名</th>
					<th>各種情報</th>
				</tr>

				<tr>
					<td><input type="radio" name=""></td>
					<td>
						<p>株式会社モスフードサービス</p>
						<p>カブシキガイシャモスフードサービス</p>
					</td>
					<td>
						<p>石坂 麻緒</p>
						<p>イシザカ マオ</p>
					</td>
					<td>東京都</td>
					<td>品川区</td>
					<td>大崎2-1-1</td>
					<td>ThinkPark Tower</td>
					<td></td>
				</tr>

			</tbody>
		</table>

		<input type="submit" value="登録する">
	</form>
</div>