<div class="modal-content con04">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table>
			<tr>
				<th colspan="4" class="table-title">検索</th>
			</tr>
			<tr>
				<th>会社役割</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
				<th>個人役割</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
		</table>

		<input type="submit" value="検索">

			<table class="issue-table">
				<tbody><tr>
					<th colspan="8" class="table-title">検索結果</th>
				</tr>
				<tr>
					<th></th>
					<th>会社名</th>
					<th>人物名</th>
					<th>役割</th>
				</tr>

				<tr>
					<td><input type="radio" name=""></td>
					<td>
						<p>株式会社モスフードサービス</p>
						<p>カブシキガイシャモスフードサービス</p>
					</td>
					<td>
						<p>石坂 麻緒</p>
						<p>イシザカ マオ</p>
					</td>
					<td>排出事業者　登録担当者</td>
				</tr>
			</tbody>
		</table>

		<input type="submit" value="登録する">
	</form>
</div>
