<div class="modal-content con03">
	<div class="batu-btn-box">
		<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>

	</div>
	<form action="" method="post">
		<table>
			<tr>
				<th colspan="6" class="table-title">検索</th>
			</tr>
			<tr>
				<th>キーワード&#9312;</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
				<th>キーワード&#9313;</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
				<th>キーワード&#9314;</th>
				<td><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
			<tr>
				<th>キーワード&#9315;</th>
				<td colspan="2"><input type="text" name="" class="inp-text sum-text"></td>
				<th>キーワード&#9316;</th>
				<td colspan="2"><input type="text" name="" class="inp-text sum-text"></td>
			</tr>
		</table>

		<input type="submit" value="検索">

			<table class="issue-table">
				<tbody><tr>
					<th colspan="8" class="table-title">検索結果</th>
				</tr>
				<tr>
					<th></th>
					<th>会社名</th>
					<th>人物名</th>
					<th>メモ</th>
				</tr>

				<tr>
					<td><input type="radio" name=""></td>
					<td>
						<p>株式会社モスフードサービス</p>
						<p>カブシキガイシャモスフードサービス</p>
					</td>
					<td>
						<p>石坂 麻緒</p>
						<p>イシザカ マオ</p>
					</td>
					<td>週末は特にゴミが出やすいです。油がよく出ます。担当者は朝のほうが電話にでやすいです。</td>
				</tr>
			</tbody>
		</table>

		<input type="submit" value="登録する">
	</form>
</div>