<%= stylesheet_link_tag "new-discharge-business-reg.css" %>
<%= javascript_include_tag "jquery-colorbox.min.js" %>
<div class="container">
    <div class="batu-btn-box">
		<%= link_to  image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn'), 'javascript:void(0)', :onclick => "window.close('trader_search');" %>
	</div>
    <div class="cf">
		<a class="tuika-btn ajax" href="company-reg.html">排出事業者追加</a>
	</div>
    <form action="" method="post">
    	<!-- ①上部情報 -->
    	<table class="mo-kensaku-table" style="width:100%;">
    		<tr>
    			<th colspan="7" class="table-title">排出事業者追加</th>
    		</tr>
    		<tr>
				<th>排出事業者</th>
				<td><input type="text" name="" class="sum-text"></td>
				<th>郵便番号</th>
				<td><input type="text" name="" class="sum-text"></td>
				<th>都道府県</th>
				<td><input type="text" name="" class="sum-text"></td>
			</tr>
			<tr>
				<th>市区町村</th>
				<td><input type="text" name="" class="sum-text"></td>
				<th>番地</th>
				<td><input type="text" name="" class="sum-text"></td>
				<th>電話番号</th>
				<td><input type="text" name="" class="sum-text"></td>
			</tr>
			<tr>
				<th>引渡し担当者</th>
				<td><input type="text" name="" class="sum-text"></td>
				<th>メールアドレス</th>
				<td colspan="3"><input type="text" name="" class="inp-text"></td>
			</tr>
    	</table>
        <div class="con-btn-box">
    		<input type="submit" class="con-btn" value="修正登録">
    	</div>
    
    
   
    	<table class="issue-table">
			<tr>
				<th colspan="9" class="table-title">排出事業者</th>
			</tr>
			<tr>
				<th></th>
				<th>排出事業者</th>
				<th>排出事業場郵便番号</th>
				<th>都道府県</th>
				<th>市区町村</th>
				<th>番地</th>
				<th>連絡先電話番号</th>
				<th>引渡し担当者</th>
				<th>メールアドレス</th>
			</tr>

			<tr>
				<td><input type="radio" name=""></td>
				<td>
					<p>株式会社モスフードサービス</p>
					<p>カブシキガイシャモスフードサービス</p>
				</td>
				<td>101-0065</td>
				<td>東京都</td>
				<td>千代田区</td>
				<td>西神田２丁目５-８</td>
				<td>03-0000-0000</td>
				<td><p>石坂 麻緒</p>
					<p>イシザカ マオ</p>
				</td>
				<td>ishizaka@example.com</td>
			</tr>
		</table>
    
    	<div class="con-btn-box">
    		<input type="submit" class="con-btn" value="修正登録">
    	</div>
    </form>
</div>
