@charset "UTF-8";

header{
	border-top: solid 15px #003f96;
	border-bottom: 1px solid #ededed;
}

.title{
	text-align: center;
	color: #003f96;
	font-size: 30px;
}

.container{
	width: 1100px;
	margin: 0 auto 40px;
}


/*　==================================================== 

　テーブル

　==================================================== */

/*　排出事業場.排出依頼登録部分　*/
.place-table {
	width: 1000px;
	margin: 40px auto 40px;
	border-collapse: collapse;
}

.place-table thead,
.place-table tbody{
	display:block;
}

.place-table thead tr{
	background-color: #003f96;
	color: #fff;
}

.place-table thead th{
	width: 1000px !important;
}

.place-table tbody{
	vertical-align: middle;
	border: 1px solid #e1e1e1;
}

.place-table tbody th{
	background-color: #f7f7f7;
}

.place-table tbody tr{
	background-color: #fff !important;
}

.place-table tbody td,
.place-table tbody th{
	border: 1px solid #e1e1e1;
	font-size: 14px;
	padding: 10px 15px;
}

.container .disposal-table td{
	background-color: #fff;
	width: 500px;
	box-sizing: border-box;
}

.container .disposal-table th{
	background-color: #f7f7f7;
	width: 500px;
	box-sizing: border-box;
}

/* master-table 設定 */
.master-table tbody th:nth-child(1){
	width: 120px;
	box-sizing: border-box;
}

.master-table tbody th:nth-child(2),
.master-table tbody th:nth-child(3){
	width: 150px;
	box-sizing: border-box;
}

.master-table tbody th:nth-child(4){
	width: 210px;
	box-sizing: border-box;
}

.master-table tbody th:nth-child(5){
	width: 117px;
}

.master-table tbody th:nth-child(6){
	width: 210px;
	box-sizing: border-box;
}


.disposal-table tbody td,
.disposal-table tbody th{
	padding: 15px 20px;
}


/* 登録するボタン td */
.reg-btn-box{
	width: 144px !important;
	text-align: center;
}




/* テーブルタイトル */
.table-title{
	padding: 18px 0 !important;
	color: #fff !important;
	background-color: #003f96 !important;
	border: 1px solid #003f96 !important;
	text-align: center !important;
	font-size: 16px !important;
}



/* 検索テーブル */
.modal-content .disposal-table{
	width: 980px;
}

.modal-content .disposal-table thead,
.modal-content .disposal-table tbody{
	display:block;
}

.modal-content .disposal-table tbody{
	overflow:auto;
	max-height: 600px;
	width: 980px;
	vertical-align: middle;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
}

.modal-content .disposal-table th:nth-child(2){
	width: 950px;
}

.modal-content .table-title{
	width: 980px;
}

.modal-content .disposal-table tbody tr td:first-child{
	width: 42px;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
}

.modal-content .disposal-table tbody td,
.modal-content .disposal-table tbody th{
	border: 1px solid #e1e1e1;
	font-size: 14px;
	padding: 10px 7px;
}

.modal-content .disposal-table tbody tr:nth-child(2n-1){
	background-color: #e7f1ff !important;
}


.modal-content .industrial-waste-table tbody tr:nth-child(2n-1){
	background-color: #fff !important;
}

.industrial-waste-table th{
	width: 500px !important;
	box-sizing: border-box;
	padding: 15px 20px !important;
}


.industrial-waste-table td{
	width: 500px !important;
	box-sizing: border-box;
	padding: 15px 20px !important;
}


/*　==================================================== 

　フォーム設定

　==================================================== */
.inp-text{
	width: 300px;
}

.sum-text{
	width: 200px;
}


/* 検索とフォームで一行表示 */
.kensaku01 .h-btn{
	margin-top: 0;
	float: left;
	margin-left: 15px;
}

.kensaku01 input{
	float: left;
	margin-top: 7px;
}


/*　==================================================== 

　モーダル設定

　==================================================== */
.modal-content {
	position:fixed;
	display:none;
	z-index:2;
	width: 1000px;
	margin:0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
}

.modal-content .reg-table{
	margin: 20px auto;
}

.modal-title{
	width: 884px;
	border-left: 8px solid #003f96;
	padding: 5px 0 5px 8px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 18px;

}

.modal-content p {
	margin:0;
	padding:0;
}

.modal-overlay {
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

.modal-close2 {
	color:#00f;
	text-decoration:underline;
}

.modal-overlay2 {
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0);
}

.modal-close {
	color:#00f;
	text-decoration:underline;
}

.modal-close:hover {
	cursor:pointer;
	color:#f00;
}




/*　==================================================== 

　各種ボタン設定

　==================================================== */


/* 確認するボタン */
.con-btn{
	border: none;
}


/* 登録するボタン */
.h-btn{
	padding: 10px 20px;
	border: 1px solid #ccc;
}


/* モーダル内 */
.modal-content input[type="submit"]{
	display: block;
	width: 200px;
	border: none;
	margin: 0 auto 20px;
	padding: 10px 5px;
	background-color: #003f96;
	color: #fff;
}


.batu-btn-box{
	text-align: right;
}

.batu-btn{
	width: 35px;
}

/* 編集削除ボタン */
.btn-box{
	text-align: center;
	width: 153px;
}

.btn-box a{
	margin-right: 8px;
}

.btn-box a:last-child{
	margin-right: 0;
}

.reg-btn-box .choicebtn{
	margin-left: 0 !important;
}

.reg-btn-box .choicebtn:hover{
	margin-left: 0 !important;
}


/* clearfix */
.cf:after {
	content:"";
	display:block;
	clear:both;
}