<!-- ポップアップ -->
<div class="modal-content con1">
    <div class="batu-btn-box">
    	<a class="modal-close"><%= image_tag('batu.png', :alt => 'ボタン', :class => 'batu-btn') %></a>
    
    </div>
   	<%= render 'form' %>
</div>
