<%= form_for @car do |f| %>

	<table class="place-table disposal-table">
		<thead>
			<tr>
				<th class="table-title" colspan="4">編集</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>車両<br>タイプ</th>
				<td><%= f.text_field :car_type, :required => 'required', class: 'inp-text sum-text'%></td>
				<th>番号</th>
				<td><%= f.text_field :number, :required => 'required', class: 'inp-text sum-text'%></td>
			</tr>
		</tbody>
	</table>

	<%= f.submit "登録する"%>


<% end %>